{
    "api_key": "",
    "gpu_query": "RTX_4090",
    "max_price": 0.8,
    "gdrive_models": {
        "checkpoints": {
            "sd_xl_base_1.0.safetensors": "https://drive.google.com/file/d/SEU_ID_AQUI/view",
            "flux1-dev.safetensors": "https://drive.google.com/file/d/SEU_ID_AQUI/view"
        },
        "loras": {
            "meu_lora.safetensors": "https://drive.google.com/file/d/SEU_ID_AQUI/view"
        },
        "vae": {},
        "controlnet": {},
        "upscale_models": {},
        "embeddings": {},
        "clip": {}
    }
}
